
#chatWrapper {
    background-color: transparent;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: stretch;
    max-width: 65vh;
    min-width: 30vh;
    width: 65vh;
    box-sizing: border-box;
}

#contactsWrapper {
    background-color: transparent;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: stretch;
    max-width: 30vh;
    width: 0;
    animation: expandWidth 1s ease forwards;
}

#contactsWrapper.reduce-width {
    animation: reduceWidth 1s ease forwards;
}

@keyframes expandWidth {
    from {
        width: 0;
    }
    to {
        width: 30vh;
    }
}

@keyframes reduceWidth {
    from {
        width: 30vh;
        opacity: 100%;
    }
    to {
        width: 0;
        opacity: 0;
        display: none;
    }
}





#contactsSearch {
    height: 10%;
    border-radius: 10px;
    margin-bottom: 5px;
    /*border: 1px solid darkgoldenrod;*/
}

#contactsList {
    margin-bottom: 1vh;
    height: 83%;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    /*border: 1px solid darkgoldenrod;*/
}

#createContact {
    height:7%;
    justify-content: center;
    /*border: 1px solid darkgoldenrod;*/
}


#contactsContainer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(39, 39, 39, 0.7));
    /*background-color: transparent;*/
    /*border-right: 1px dashed white;*/
    box-shadow: 5px 0px 0px 0px rgba(255, 255, 255, 0.4);
    height: 60vh;
    width: 100%;
    border-radius: 10px 0 0 10px;
    overflow: visible;
    word-wrap: break-word;
    padding: 10px;
    margin-bottom: 10px;
}


#messageContainer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(39, 39, 39, 0.7));
    /*background-color: transparent;*/
    height: 60vh;
    width: 100%;
    border-radius: 0 10px 10px 0 ;
    overflow: visible;
    word-wrap: break-word;
    padding: 10px;
    margin-bottom: 10px;

}

#conversationMessages {
    height: 75%;
    width: 100%;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    margin-bottom: 10px;
    background-color: transparent;
}

#messageForm {
    display: flex;
    gap: 10px;
    height: 25%;
    width: auto;
}


.conversation-container {
    display: flex;
    height: 6vh;
    width: auto;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
    word-wrap: break-word;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: left;
    box-shadow: none;
    background-color: transparent;
}


.conversation-container:hover {
    cursor: pointer;
    box-shadow: rgb(0, 124, 255) 0 20px 30px -10px;
}

.avatar-wrapper {
    position: relative;
    width: 20%;
    display: inline-block;
}

.user-name {
    display: block;
    max-width: 100%;
    font-size: 2vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activity-status {
    margin-top: 0vh;
    margin-left: 0.5vh;
    width: 100%;
    height: 100%;
    color: #ccccdd;
    font-size: 1.1vh;
    display: flex;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-address {
    color: darkgoldenrod;
    margin-left: 0.5vh;
    font-size: 1.3vh;
    font-weight: bold;
    display: block;
    max-width: 100%;
    white-space: nowrap;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.user-avatar {
    width: 100%;
    height: 90%;
    border-radius: 50%;
    border: 2px solid #555555;
}

.status-dot {
    position: absolute;
    bottom: 0vh;
    right: 0;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    box-sizing: border-box;
}

.conversation-details {
    width: 90%;
    height: 100%;
}

.status-dot.offline {
    background-color: red;
}

.status-dot.online {
    background-color: green;
}


.conversation-message {
    height: auto;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    display: inline-block;
    clear: both;
    margin-bottom: 5px;
}

.message-sent {
    max-width: 50%;
    text-align: right;
    float: right;
    background-color: deepskyblue;
    border-radius: 10px;
    padding: 5px;
}

.message-received {
    max-width: 50%;
    text-align: left;
    float: left;
    background-color: lightslategray;
    border-radius: 10px;
    padding: 5px;
}

@keyframes unread-message-blink {
    0%, 100% {
        box-shadow: rgba(255, 255, 255, 0.35) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.45) 0px 18px 36px -18px inset;
    }
    50% {
        box-shadow: none;
    }
}

@keyframes unread-message-blink-hover {
    0%, 100% {
        box-shadow: rgb(0, 124, 255) 0 20px 30px -10px;
    }
    50% {
        box-shadow: none;
    }
}

.unread-message {
    animation: unread-message-blink 1s infinite;
}


.unread-message:hover {
    box-shadow: rgba(0, 15, 255, 0.35) 0px 30px 60px -12px inset, rgba(0, 34, 255, 0.45) 0px 18px 36px -18px inset;
    animation: unread-message-blink-hover 1s infinite;
}


/*box-shadow: */
/*rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset,*/
/*rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset,*/
/*rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset,*/
/*rgba(255, 255, 255, 0.06) 0px 2px 1px,*/
/*rgba(255, 255, 255, 0.09) 0px 4px 2px,*/
/*rgba(255, 255, 255, 0.09) 0px 8px 4px,*/
/*rgba(255, 255, 255, 0.09) 0px 16px 8px,*/
/*rgba(255, 255, 255, 0.09) 0px 32px 16px;*/

#conversationMessages::-webkit-scrollbar, #contactsList::-webkit-scrollbar {
    width: 5px;
}

#conversationMessages::-webkit-scrollbar-track, #contactsList::-webkit-scrollbar-track {
    background: transparent;
}

#conversationMessages::-webkit-scrollbar-thumb, #contactsList::-webkit-scrollbar-thumb {
    background-color: darkgoldenrod;
    border-radius: 20px;
    border: transparent;
}

#conversationMessages, #contactsList {
    scrollbar-width: thin;
    scrollbar-color: darkgoldenrod transparent;
}


#message {
    flex-grow: 1;
    border-radius: 5px;
}

.message-input {
    height: auto;
    color: white;
    border-radius: 30px;
    border: 1px;
    background-color: transparent;
}
.message-input:focus {
    outline: none;
}

#chatIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gold;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1000;
}
