<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.02" />

    <title>WebSocket Chat</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>



    <!--------------------------------------------------style dla ws intellij ------------------------------------------>

<!--    <link rel="stylesheet" type="text/css" href="../static/css/index/navbar.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/sockStyle.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/index/background-effect.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/hover-button.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/glow-button.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/block-border.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/gradient.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/pull-down-effect.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/ubuntu-terminal.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/custom-boxshadow.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/paralax-hover.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/messages/new-contact-form.css">-->
<!--    <script type="text/javascript" src="../static/js/index/background-effect.js"></script>-->
<!--    <script type="text/javascript" src="../static/js/messages/ubuntu-terminal.js"></script>-->
<!--    <script type="text/javascript" src="../static/js/messages/sockScript.js"></script>-->
<!--    <script type="text/javascript" src="../static/js/messages/conversation.js"></script>-->

    <!-------------------------------------------------- style dla app context ------------------------------------------>

    <link rel="stylesheet" type="text/css" th:href="@{/css/index/navbar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index/background-effect.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages/sockStyle.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages/hover-button.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages/glow-button.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages/gradient.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages/pull-down-effect.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages/custom-boxshadow.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages/ubuntu-terminal.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages/paralax-hover.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages/new-contact-form.css}" />
    <script type="text/javascript" th:src="@{/js/index/background-effect.js}" ></script>
    <script type="text/javascript" th:src="@{/js/messages/sockScript.js}" ></script>
    <script type="text/javascript" th:src="@{/js/messages/conversation.js}" ></script>
    <script type="text/javascript" th:src="@{/js/messages/ubuntu-terminal.js}" ></script>

</head>
<body>

<section class="p-menu1">
    <div class="logo">
        <a href="/">
<!--            <img src="../static/css/index/emailchaterlogo.png" alt="Logo"> &lt;!&ndash; logo dla ws intellij -&ndash;&gt;-->
            <img src="/css/index/emailchaterlogo.png" alt="Logo"> <!-- logo dla app context -->
        </a>
    </div>
    <nav id="navbar" class="navigation" role="navigation">
        <input id="toggle1" type="checkbox"/>
        <label class="hamburger1" for="toggle1">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
        </label>
        <div class="menu1">
            <a class="link1" href="">Profile</a>
            <a class="link1" href="">Contacts</a>
            <a class="link1" href="">Messages</a>
            <a class="link1" href="">Settings</a>
        </div>
    </nav>
</section>

<div>
    <input type="hidden" id="username" th:value="${user.username}">
</div>

<div>
    <input type="hidden" id="userId" th:value="${user.id}">
</div>

<div>
    <input type="hidden" id="userEmail" th:value="${user.email}">
</div>

<div>
    <input type="hidden" id="websocketUrl" th:value="${websocketUrl}">
</div>

<div class="main-container">
<figure class="paralax-hover">

<div id="contactsWrapper">

</div>

<div id="chatWrapper">

</div>
</figure>
</div>


<!--        ⍋⮉⮙-->
<!--    <button onclick="minimizeChat()">X</button>-->



<div id="background-animation" class="background-animation"></div>

</body>
</html>
