<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>



<!--    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css"> &lt;!&ndash; style dla ws intellij -&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/sockStyle.css"> &lt;!&ndash; style dla ws intellij -&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="../static/css/background-effect.css"> &lt;!&ndash; style dla ws intellij -&ndash;&gt;-->
<!--    <script type="text/javascript" src="../static/js/background-effect.js"></script> &lt;!&ndash; js dla ws IntelliJ &ndash;&gt;-->
<!--    <script type="text/javascript" src="../static/js/sockScript.js"></script> &lt;!&ndash; js dla ws IntelliJ &ndash;&gt;-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" /><!-- style dla app context -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/background-effect.css}" /><!-- style dla app context -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sockStyle.css}" />
    <script type="text/javascript" th:src="@{/js/background-effect.js}" ></script> <!-- style dla app context -->
    <script type="text/javascript" th:src="@{/js/sockScript.js}" ></script>

</head>
<body>

<section class="p-menu1">
    <div class="logo">
        <a href="/">
            <!--            <img src="../static/css/logo.png" alt="Logo"> &lt;!&ndash; logo dla ws intellij -&ndash;&gt;-->
            <img src="/css/emailchaterlogo.png" alt="Logo"> <!-- logo dla app context -->
        </a>
    </div>
    <nav id="navbar" class="navigation" role="navigation">
        <input id="toggle1" type="checkbox"/>
        <label class="hamburger1" for="toggle1">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
        </label>
        <div class="menu1">
            <a class="link1" href="">Profile</a>
            <a class="link1" href="">Contacts</a>
            <a class="link1" href="">Messages</a>
            <a class="link1" href="">Settings</a>
            <!--            <a class="lin1 kbutton-nav" href="">Contact</a>-->
        </div>
    </nav>
</section>

<div>
    <input type="hidden" id="username" th:value="${user.username}">
</div>

<div>
    <input type="hidden" id="userId" th:value="${user.id}">
</div>

<div>
    <input type="hidden" id="websocketUrl" th:value="${websocketUrl}">
</div>

<div class="main-container">
<div id="chatWrapper">
    <button onclick="minimizeChat()">X</button>
<div id="messageContainer"></div>
<div id="messageForm">
    <input type="text" id="message" class="message-input" placeholder="Type your message">
    <button onclick="sendMessage()" class="btn btn-primary">Send Message</button>
</div>
</div>
</div>

<div id="background-animation" class="background-animation"></div>

</body>
</html>
