<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="preload" href="/css/emailchaterlogo.png" as="image">
    <link rel="preload" href="/js/background-effect.js" as="script">

    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css"> <!-- style dla ws intellij --->
    <link rel="stylesheet" type="text/css" href="../static/css/new-login.css"> <!-- style dla ws intellij --->
    <link rel="stylesheet" type="text/css" href="../static/css/background-effect.css"> <!-- style dla ws intellij --->
    <script type="text/javascript" src="../static/js/background-effect.js"></script> <!-- js dla ws IntelliJ -->
    <script type="text/javascript" src="../static/js/login.js"></script> <!-- js dla ws IntelliJ -->



    <link rel="stylesheet" type="text/css" th:href="@{/css/background-effect.css}" /><!-- style dla app context -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" /><!-- style dla app context -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-login.css}" /><!-- style dla app context -->
    <script type="text/javascript" th:src="@{/js/background-effect.js}" ></script> <!-- style dla app context -->
    <script type="text/javascript" th:src="@{/js/login.js}" ></script> <!-- style dla app context -->

</head>
<body>
<section class="p-menu1">
    <div class="logo">
        <a href="/">
<!--            <img src="../static/css/logo.png" alt="Logo"> &lt;!&ndash; logo dla ws intellij -&ndash;&gt;-->
            <img src="/css/emailchaterlogo.png" alt="Logo"> <!-- logo dla app context -->
        </a>
    </div>
    <nav id="navbar" class="navigation" role="navigation">
        <input id="toggle1" type="checkbox"/>
        <label class="hamburger1" for="toggle1">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
        </label>
        <div class="menu1">
            <a class="link1" href="">Profile</a>
            <a class="link1" href="">Contacts</a>
            <a class="link1" href="/messages">Messages</a>
            <a class="link1" href="">Settings</a>
<!--            <a class="lin1 kbutton-nav" href="">Contact</a>-->
        </div>
    </nav>
</section>

<div class="main-container">
<div id="login-form-wrapper" class="form-wrapper">
</div>
</div>

<div id="background-animation" class="background-animation"></div>

</body>
</html>
