<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label for="username">Username:</label>
<input type="text" id="username" name="username" required>

<label for="password">Password:</label>
<input type="password" id="password" name="password" required>

<button onclick="submitForm()">Login</button>
<button onclick="logout()">Logout</button>

<script type="text/javascript">
    function submitForm() {
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;

        const data = {
            username: username,
            password: password
        };

        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };

        fetch('/api/v1/auth/login', requestOptions)
            .then(response => response.json())
            .then(data => {
                console.log('Odpowiedź z serwera:', data);
            })
            .catch(error => {
                console.error('Wystąpił błąd:', error);
            });
    }

    function logout() {
        const requestOptions = {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        };

        fetch('/api/v1/auth/logout', requestOptions)
            .then(response => response.json())
            .then(data => {
                console.log('Odpowiedź z serwera po wylogowaniu:', data);
                window.location.href = data.location;
            })
            .catch(error => {
                console.error('Wystąpił błąd podczas wylogowywania:', error);
            });
    }
</script>

</body>
</html>